.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.dropdown-menu {
    display: block;
    margin-left: -8rem;
    top: 3rem;
    transform: scaleY(1);
    transform-origin: top;
    background-color: var(--toprowColor);
    border: 1px solid #d6d5d5;
    width: 10rem;
    transition: transform 0.2s linear;
}

.dropdown-menu.collapse {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s linear;
}

.user-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
}

.user-menu-list {
    list-style-type: none;
    margin: 0;
    padding-left: 1rem;
}

.user-icon {
    font-size: 30px;
    cursor: pointer;
}

.user-icon:active {
    margin-top: 1px;
    font-size: 28px;
}

.content {
    height: calc(100% - 3.5rem);
}

.top-row {
    background-color: var(--toprowColor);
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
