.post-container {
    flex: 1;
    background-color: var(--replyCardColor);
    padding: 1rem;
    padding-right: 0;
    box-shadow: -5px 0 0 0 #dadada;
}

.post-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-card {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 1rem;
}

.detail-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.detail-text {
    font-size: 11px;
    margin-bottom: 0;
}

.arrow-size {
    font-size: 20px;
    cursor: pointer;
}

.expandable {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-icon {
    font-size: 30px;
}

.content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-text {
    flex: 1;
    font-size: 16px;
    padding-left: 1rem;
    align-self: center;
    cursor: pointer;
}

.reply-field {
    width: 50%;
    display: block;
    resize: vertical;
    overflow: hidden;
    min-height: fit-content;
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(73, 73, 73, 0.541);
}
